service: invictus-weightlifting

app: invictus-weightlifting-app
org: bromeodolly

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
frameworkVersion: '2'

useDotenv: true

provider:
  name: aws
  region: us-east-1
  runtime: python3.8
  profile: serverless-agent
  stage: dev
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:*
        - states:*
      Resource: "*"
    - Effect: Allow
      Action:
        - sns:publish
      Resource: "*"
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.DYNAMODB_TABLE}"
    - Effect: Allow
      Action: 
       - logs:*
       - xray:*
      Resource: "*"

# you can define service wide environment variables here
  environment:
    INVICTUS_BUCKET: invictus-test-213
    INVICTUS_RSS : https://crossfitinvictus.com/category/invictus-athlete-weightlifting/feed/
    INVICTUS_WEIGHTLIFTING_API_CAT_ID : "213"
    INVICTUS_WEIGHTLIFTING_API : https://www.crossfitinvictus.com/wp-json/wp/v2/posts?categories=${self:provider.environment.INVICTUS_WEIGHTLIFTING_API_CAT_ID}
    INVICTUS_USER : ${env:INVICTUS_USER}
    INVICTUS_PASS : ${env:INVICTUS_PASS}
    DYNAMODB_TABLE: ${self:service}-posts-${opt:stage, self:provider.stage}


# you can add packaging information here
package:
  exclude:
    - node_modules/**
    - venv/**
    - __pycache__/**
    - test_events

plugins:
  - serverless-python-requirements
  - serverless-step-functions
  - serverless-pseudo-parameters

custom:
  pythonRequirements:
    dockerizePip: non-linux


functions:

  dump_post_to_bucket:
    handler: handler.dump_post_to_bucket
    package:
      artifact:

  get_invictus_post:
    handler: handler.GET_invictus_post
    package:
      artifact:
    events:
      - s3:
          bucket: ${self:provider.environment.INVICTUS_BUCKET}

  strip_post_html: 
    handler: handler.strip_post_html
    package:
      artifact:

  group_post_by_day: 
    handler: transforms.group_post_content_by_day
    package:
      artifact:

  segment_days: 
    handler: transforms.segment_days
    package:
      artifact:
      
  sessions_to_date_records: 
    handler: transforms.sessions_to_json_records_by_day
    package:
      artifact:

  clean_session_records: 
    handler: handler.clean_sessions_df_records
    package:
      artifact:

  save_sessions_to_bucket: 
    handler: handler.save_sessions_to_bucket
    package:
      artifact:
  

stepFunctions:
  stateMachines:
    ${file(./SemiStructureInvictusPost_stateMachine.yml)}

resources:
  Resources: 
    WorkoutPostsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.DYNAMODB_TABLE}
        AttributeDefinitions: 
          -
            AttributeName: date
            AttributeType: S
          -
            AttributeName: session
            AttributeType: S
        KeySchema: 
          -
            AttributeName: session
            KeyType: HASH
          -
            AttributeName: date
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1