service: invictus-weightlifting

app: invictus-weightlifting-app
org: bromeodolly

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
frameworkVersion: "3"

useDotenv: true

provider:
  name: aws
  region: us-east-1
  runtime: python3.8
  profile: serverless-agent
  stage: dev
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - lambda:InvokeFunction
            - s3:*
            - states:*
          Resource: "*"
        - Effect: Allow
          Action:
            - sns:publish
          Resource: "*"
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
          Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.DYNAMODB_TABLE}"
        - Effect: Allow
          Action:
            - logs:*
            - xray:*
          Resource: "*"
        - Effect: Allow
          Action:
            - sqs:*
          Resource: "arn:aws:sqs:${opt:region, self:provider.region}:*:${self:provider.environment.INVICTUS_WEIGHTLIFTING_API_QUEQUE_NAME}"

  # you can define service wide environment variables here
  environment:
    INVICTUS_BUCKET: invictus-raw-${opt:stage, self:provider.stage}
    INVICTUS_RSS: https://crossfitinvictus.com/category/invictus-athlete-weightlifting/feed/
    INVICTUS_WEIGHTLIFTING_API_CAT_ID: "213"
    INVICTUS_WEIGHTLIFTING_API: https://www.crossfitinvictus.com/wp-json/wp/v2/posts?categories=${self:provider.environment.INVICTUS_WEIGHTLIFTING_API_CAT_ID}
    INVICTUS_USER: ${env:INVICTUS_USER}
    INVICTUS_PASS: ${env:INVICTUS_PASS}
    DYNAMODB_TABLE: ${self:service}-sessions-${opt:stage, self:provider.stage}
    INVICTUS_WEIGHTLIFTING_API_QUEQUE_NAME: ${self:service}-api-requests-queque-${opt:stage, self:provider.stage}

# you can add packaging information here
package:
  patterns:
    - '!node_modules/**'
    - '!venv/**'
    - '!__pycache__/**'
    - '!test_events'

plugins:
  - serverless-python-requirements
  - serverless-iam-roles-per-function
  - serverless-step-functions

custom:
  pythonRequirements:
    dockerizePip: non-linux

functions:
  calc_sqs_items_from_api:
    handler: queque.calc_sqs_items_from_api

  push_item_to_queque:
    handler: queque.push_item_to_queque
      
  stage_posts_to_s3: 
    handler: handler.trigger_staging_statemachine
    environment:
      statemachine_arn: ${self:resources.Outputs.StagingStateMachine.Value}
    reservedConcurrency: 100
    events:
      - sqs: 
            # arn: !Ref InvictusAPIRequestsSQs.Arn
            arn: arn:aws:sqs:us-east-1:670325714839:invictus-weightlifting-api-requests-queque-dev
            batchSize: 1
            maximumBatchingWindow: 60
            functionResponseType: ReportBatchItemFailures

  dump_post_to_bucket:
    handler: handler.dump_post_to_bucket
   
  get_invictus_post:
    handler: handler.GET_invictus_post

  strip_post_html:
    handler: handler.strip_post_html

  group_post_by_day:
    handler: transforms.group_post_content_by_day

  segment_days:
    handler: transforms.segment_days

  sessions_to_date_records:
    handler: transforms.sessions_to_json_records_by_day
    
  clean_session_records:
    handler: handler.clean_sessions_df_records
   
  save_sessions_to_bucket:
    handler: handler.save_sessions_to_bucket
   
stepFunctions:
  stateMachines:
    SemiStructureInvictusPost: ${file(./SemiStructureInvictusPost_stateMachine.yml)}
    ScrapeInvictusPostsStateMachine: ${file(./ScrapeInvictusPostsStateMachine.yml)}
    InvictusPostsStagingStateMachine: ${file(./InvictusPostsStagingStateMachine.yml)}
    

resources:
  Outputs:
    StagingStateMachine:
      Description: The ARN of the provisioning state machine
      Value:
        Ref: InvictusPostsStagingStateMachine
  Resources:
    InvictusAPIRequestsSQS:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:provider.environment.INVICTUS_WEIGHTLIFTING_API_QUEQUE_NAME}
        VisibilityTimeout: 30
    WorkoutPostsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.DYNAMODB_TABLE}
        AttributeDefinitions:
          - AttributeName: date
            AttributeType: S
          - AttributeName: session
            AttributeType: S
        KeySchema:
          - AttributeName: date
            KeyType: HASH
          - AttributeName: session
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    SemiStructuedPostStateMachineTrigger:
      Type: AWS::Events::Rule
      Properties:
        Name: SemiStructureInvictusPost_trigger
        State: DISABLED
        Description: trigger the SemiStructureInvictusPost state machine
        ScheduleExpression: rate(10 minutes)
        Targets:
          - Arn:
              Fn::GetAtt: [SemiStructureInvictusPostStateMachine, Arn]
            Id: SemiStructure_InvictusPost_StateMachine
            RoleArn: arn:aws:iam::670325714839:role/service-role/AWS_Events_Invoke_Step_Functions_1766034610
    SemiStructuedPostStateMachineRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: SemiStructuedPostStateMachineRole
        # Path: /path_of_state_machine_roles/
        AssumeRolePolicyDocument:
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - states.amazonaws.com
              Action:
                - sts:AssumeRole
        Policies:
          - PolicyName: statePolicy
            PolicyDocument:
              Version: "2012-10-17"
              Statement: ${self:provider.iam.role.statements}
    RawPostsS3Bucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.INVICTUS_BUCKET}